/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,strong,ol,ul,li,fieldset,form,label,article,aside,footer,header,nav,section,main {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Roboto Condensed', sans-serif;
}

body {

}

nav {
	/*min-height: 4.5em;*/
	font-size: 1em;
	vertical-align: middle;
	padding: 1.5em 0;
}

input, label {
	height: 1em;
}

h1 {
	font-size: 1.8em;
	padding: 0.5em 25px;
}

h2 {
	padding-bottom: 0.25em;
}

button {
	font-size: 1em;
	text-decoration: none;
	color: #666666;
	border-radius: 3px;
	padding: 0.5em 1em;
	background: #FAFAFA;
	border: solid 1px #EEEEEE;
	display: inline-block;
}

button:hover {
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

button, input[type="submit"] {
	font-size: 1em;
}


.container {
	display: block;
}

.container:before,.container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	zoom: 1;
}

.h-full {
	width: 100%;
}

.v-full {
	height: 100%;
}

.h-50 {
	width: 49%;
	display: inline-block;
}

.v-50 {
	min-height: 50%;
}

.left {
	text-align: left;
}

.left-nav,
.logo,
.login,
.login form .field,
.login form .actions,
form {
	display: inline-block;
}

form {
	padding: 15px;
}
.success {
	background-color: #A6E22D;
}

.fail {
	background-color: tomato;
}

.login {
	font-size: 1em;
	text-align: right;
	float: right;
	/*margin-top: 25px;*/
}

.login {
	/*border-radius: 5px;*/	
	padding-right: 1.5em;
}

.logo {
	/*width: 15%;*/
	/*min-width: 185px;*/
}

.left-nav {
	/*min-width: 315px;*/
}

.left-nav li, .logo {
	text-align: left;
	display: inline-block;
	padding: 0 25px;
}

.card-wrapper {
	margin: 25px;
	text-align: center;
}

.card {
	display: inline-block;
	width: 350px;
	height: 350px;
	margin: .5em;
	padding: 1.5em;
	/*border-radius: 5px;*/
	text-decoration: none;
	text-align: left;
}

.profile-wrapper, .card {
	vertical-align: top;
}

.user-profile {
	width: 90%;
 	margin: 0 5%;
	/*border-radius: 5px;*/
	padding: 1.5em;
}

a {
	color: #015666;
}

a:hover, a:active {
	color: #37B6CE;
}

.dark {
	background-color: #015666;
	color: white;
}

.dark a {
	color: #80EBFF;
}

.dark-font {
	color: #5FBDCE;
}

.dark a:hover, .dark a:active {
	color: #37B6CE;
}

.light {
	background-color: #5FBDCE;
	color: black;
}

.light a {
	color: white;
}

.light a:hover, .light a:active {
	color: rgb(230,230,230);
}

.gray {
	background-color: #F4F4F4;
	color: black;
}


.gray a {
	color: black;
}

.gray a:hover, .gray a:active {
	color: #5FBDCE;
	}

.inactive {
	color:grey;
	font-style: italic;
}

nav a, .logo {
	text-decoration: none;
}

a.logo {
	font-style: italic;
	font-weight: bold;
	font-size: 2.5em;
	color: white;
	font-variant: small-caps;
}

.left-nav, .logo {
	font-size: 1.25em;
}

.card, .user-profile {
		border:1px solid #B3B1B3;
}

a.card:hover, a.card:active {
	background-color: #5FBDCE;
	color: black;
}

.spacer {
	border:none;
	height:0;
}

.register {
	text-align: left;
	padding-top: .4em;
}

.form-wrapper {
	padding: 25px;
	margin: auto auto;
}

.form-wrapper input {
	width: 20em;
	height: 2em;
}

.form-wrapper input[type="submit"] {
	width: 10em;
}

.form-wrapper .field,
.form-wrapper .actions {
	margin-top: 1em;
}



#error_explanation {
	background-color: tomato;
	padding: 1em;
	border-radius: 5px;
	margin-bottom: 20px;
}

#error_explanation li {
	margin-left: 1em;
}

.field_with_errors {
	color: tomato;
	font-weight: bold;
}

.avail-table {
	vertical-align: top;
}


.global-flash {
	padding: 10px 25px;
	/*background: rgba(255, 50, 50, 0.8);*/
	position: absolute;
	top: -50px;
	display: block;
	width: 100%;
	text-align: center;
}

#notice,
#alert,
#success {
	display: block;
	position: absolute;
	width: 100%;
	padding: .45em 0;
	text-align: center;
	top: -100px;
}

#notice {
	background: #FACC44;
}

#alert {
	background: tomato;
}

#success {
	background: lightgreen;
}

#signed-out-notice {
	background: #FACC44;
	padding: 1em 0;
	text-align: center;
}

.pagination {
	text-align: center;
	background-color: #F5F6F5;
}

#provider-filter {
	display: inline-block;
	float: right;
	vertical-align: middle;
}