
.container {
	display: block;
}

.container:before,.container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	zoom: 1;
}

.h-full {
	width: 100%;
}

.v-full {
	height: 100%;
}

.h-50 {
	width: 49%;
	display: inline-block;
}

.v-50 {
	min-height: 50%;
}

.left {
	text-align: left;
}

.login.field, .login.actions {
	display: inline-block;
}

.login {
	text-align: right;
	width: 15%;
	min-width: 165px;
	float: right;
}

.logo {
	width: 15%;
	min-width: 185px;
}

.left-nav {
	min-width: 415px;
}

.left-nav, .login, .logo {
	display: inline-block;
}

.left-nav li, .logo {
	text-align: left;
	display: inline-block;
	padding: 1em 1em 0 1em;
}

.card-wrapper {
	width: 80%;
	margin: 3em 10%;
}

.card {
	display: inline-block;
	width:39.8%;
	margin: 2em 5%;
	padding:1.5em;
}

.profile-wrapper, .card {
	vertical-align: top;
}

.user-profile {
	width: 90%;
 	margin: 0 5%;
	border-radius: 5px;
	padding: 1.5em;
}