
.container {
	display: block;
}

.container:before,.container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	zoom: 1;
}

.h-full {
	width: 100%;
}

.v-full {
	height: 100%;
}

.h-50 {
	width: 49%;
	display: inline-block;
}

.v-50 {
	min-height: 50%;
}

.login.field, .login.actions {
	display: inline-block;
}

nav {
	text-align: right;

}

.logo {
	position:absolute;
	top: 1em;
	left: 1em;
}