a {
	color: #015666;
}

a:hover, a:active {
	color: #37B6CE;
}

.dark {
	background-color: #015666;
	color: white;
}

.dark a {
	color: #80EBFF;
}

.dark a:hover, .dark a:active {
	color: #37B6CE;
}

.light {
	background-color: #5FBDCE;
	color: black;
}

.light a {
	color: white;
}

.light a:hover, .light a:active {
	color: rgb(230,230,230);
}

nav a, .logo {
	text-decoration: none;
}

a.logo {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	font-variant: small-caps;
}

.left-nav, .logo {
	font-size: 1.25em;
}

.card {
	border-radius: 5px;
	text-decoration: none;
}

.card, .user-profile {
		border:3px solid #015666;
		
}

a.card:hover, a.card:active {
	background-color: #4892A0;
	color: black;
}