<h1 class="h-full light">New appointment with <%= @provider.name %></h1>

<div class="form-wrapper">

	<%= render 'display_avails' %>

	<% if @availabilities.present? %>
		<%= render 'new_form' %>
	<% end %>
	<%= link_to 'Back', providers_path %>
</div>
